html
    head
        style(type="text/css").
            div, header, footer, section {
                display: flex;
            }
            body {
                padding: 0;
                margin: 0;
                font-family: sans-serif
            }
            header {
                align-items: center;
                height: 3rem;
                background-color: blue;
                color: white
            }
            section.queue {
                flex-flow: column nowrap
            }
            
    body
        header 
            span Packager Service #{message}